<h1>New Supplier</h1>
<form action="/suppliers/create" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="John Doe" required>
    </div>
    <div>
        <label for="contactInfo">Contact Info</label>
        <input type="text" name="contactInfo" placeholder="example@gmail.com" required>
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" name="location" placeholder="City / State" required>
    </div>
    <div>
        <label for="notes">Notes</label>
        <textarea name="notes" id="" cols="40" rows="5"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>