<h1>Suppliers</h1>
<a href="/">Home</a> | <a href="/suppliers/new">New Supplier</a>
<% if (suppliers.length > 0) {%>
    <% suppliers.forEach(supplier => {%>
        <p><%= supplier.name %></p>
        <p><%= supplier.contactInfo %></p>
    <%}) %>
<%} else {%>
    <p>No suppliers available</p>
<%}%>