<h1>Supplier detail</h1>
<p>Name: <%= supplier.name %></p>
<p>Contact: <%= supplier.contactInfo %></p>
<p>Location: <%= supplier.location %></p>
<% if (supplier.notes) { %>
    <p><%= supplier.name %></p>
<% } %>
